<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand">My app</a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link active">Home</a>
            </li>
        </ul>
        <div class="d-flex">
            <div class="d-flex" role="search">
                <input [(ngModel)]="searchInput" type="search" class="form-control me-2" placeholder="Rechercher">
                <button (click)="search()">Rechercher</button>
            </div>
        </div>
    
    </div>
</nav>
<div class="row">
    <div class="col"></div>
    <div class="col">
        <a [title]="'Derniere mise à jour: ' + (lastUpdate| date:'fullDate') ">Voir les détails</a>
    </div>
</div>